.button {
  width: 89px;
  height: 23px;
  border: none;
  background-color: $button;
  border-radius: 2px;
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: $white;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }

  &:active {
    background-color: $gray;
  }
}

.button--submit {
  height: 30px;
  width: 120px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.button--buy {
  width: 87px;
  background-color: $button-buy;

  &:hover,
  &:focus {
    background-color: $button-buy-hover;
  }

  &:active {
    background-color: $button-buy-click;
  }
}

.button--buy svg {
  margin-right: 2.64px;
}

.button--promo {
  width: 200px;
  height: 36px;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.button--order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 36px;
  background: $button-buy;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.125em;
  color: $white;

  &:hover,
  &:focus {
    background-color: $button-buy-hover;
  }

  &:active {
    background-color: $button-buy-click;
  }
}
