.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 940px;
  flex-basis: 95%;
  margin: auto;
}

.cart ul {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-right: -5px;
  border-top: 0.7px solid $light-gray;
  list-style: none;
}

.cart li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 42px;
  padding-right: 179px;
  border-bottom: 0.7px solid $light-gray;
  padding-bottom: 13px;
  padding-top: 21px;
  margin-top: -1px;
}

.cart__close-button {
  position: absolute;
  top: 21px;
  left: 4px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: $gray;

  &:hover,
  &:focus {
    color: $dark-gray;
  }

  &:active {
    color: $label-disabled;
  }
}

.cart__item-info {
  margin-top: -82px;
  margin-left: -23px;
}

.cart__item-info h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $black;
}

.cart__item-info p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.075em;
  color: $black;
}

.cart__price {
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: $black;
}

.cart__price--full {
  position: absolute;
  right: 0;
  font-weight: bold;
}

.cart__quantity {
  position: relative;
  margin-top: -62px;
  margin-right: -5px;
}

.cart__quantity button,
.cart__quantity input {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  width: 28px;
  height: 30px;
  border: 1px solid $gray;
  outline: none;
  box-sizing: border-box;
  background: none;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  color: $gray;

  &:hover,
  &:focus {
    border-color: $button-hover;
  }

  &:active {
    border-color: $button;
  }
}

.cart__quantity button {
  cursor: pointer;
}

.cart__quantity input::-webkit-outer-spin-button,
.cart__quantity input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
