.form {
  width: 208px;
}

.form h3,
.form legend {
  margin: 0;
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: $black;
  letter-spacing: 0.07em;
}

.form fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  border: none;
}

.form fieldset::before {
  position: absolute;
  display: block;
  content: "";
  top: -30px;
  left: 0;
  width: 208px;
  height: 0.7px;
  background-color: $light-gray;
}

.form__price-fieldset p {
  margin: 0;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.form__price-fieldset input {
  text-align: center;
  position: relative;
  width: 84px;
  height: 28px;
  box-sizing: border-box;
  border: 0.7px solid $gray;
  border-radius: 2px;
}

.form__price-fieldset input::-webkit-outer-spin-button,
.form__price-fieldset input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__price-fieldset p::after {
  position: absolute;
  bottom: 14px;
  left: 97px;
  display: block;
  content: "";
  width: 14px;
  height: 1px;
  background-color: #585757;
}

.form__price-fieldset span {
  margin-left: -3px;
}

.form__price-fieldset input::placeholder {
  text-align: center;
}

.form__checkbox-fieldset legend {
  margin-bottom: 10px;
}

.form__checkbox-fieldset label {
  position: relative;
  display: block;
  margin-top: 16px;
  padding-left: 40px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.form__checkbox-fieldset label::before {
  position: absolute;
  content: "";
  left: 0;
  top: -1px;
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 0.7px solid $gray;
  border-radius: 2px;
}

.form__checkbox-fieldset input:checked + label::after {
  position: absolute;
  content: "";
  left: 6px;
  top: 5px;
  display: block;
  width: 12px;
  height: 9px;
  background-image: url("../img/icons/icon-check.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.form__checkbox-fieldset label:hover::before,
.form__checkbox-fieldset label:focus::before {
  border-color: $button-hover;
}

.form__checkbox-fieldset label:active::before {
  border-color: $button;
}

.form__checkbox-fieldset input:disabled + label::before {
  background: #f7f3f3;
  border: 0.7px solid $label-disabled;
}

.form__checkbox-fieldset input:disabled + label {
  color: $label-disabled;
  cursor: auto;
}

.form button {
  margin-top: 43px;
}
