.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 168px;
  padding-bottom: 60px;
  background-image:
    linear-gradient($footer-bg, $footer-bg),
    linear-gradient($footer-bg, $footer-bg),
    url("../img/image_footer.png");
  background-size:
    100% 278px,
    100% 6px,
    825px 298px;
  background-position:
    bottom 0 left 0,
    bottom 288px left 0,
    bottom 65px left 0;
  background-repeat: no-repeat;
}

.page-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  flex-basis: 95%;
}

.page-footer h3 {
  margin: 0;
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15em;
  color: $white;
  opacity: 0.7;
}

.page-footer a {
  color: $white;

  &:hover,
  &:focus {
    color: $dark-gray;
  }

  &:active {
    color: rgba(71, 71, 71, 0.5);
  }
}

.page-footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 145px;
  min-height: 153px;
  margin-top: -12px;
}

.page-footer__logo {
  color: $white;
}

.page-footer__social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__social-links li {
  margin-right: 23px;
}

.page-footer__center {
  display: flex;
  justify-content: space-between;
  max-width: 470px;
  margin-left: -30px;
}

.page-footer__center div {
  max-width: 145px;
  margin-right: 15px;
}

.page-footer__center div:last-child {
  margin-right: 0;
  margin-left: 25px;
}

.page-footer__center p {
  margin: 0;
  margin-top: 12px;
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: $white;
  letter-spacing: 0.03em;
}

.page-footer__center a {
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.12em;
  color: $white;
  text-decoration: none;
}

.page-footer__center ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 7px;
}

.page-footer__right {
  max-width: 140px;
  padding-top: 13px;
  padding-right: 15px;
}

.page-footer__right address,
.page-footer__right p,
.page-footer__right a {
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: $white;
  text-decoration: none;
}

.page-footer__right address {
  max-width: 125px;
  margin-top: 8px;
  letter-spacing: 0.12em;
  line-height: 12px;
}

.page-footer__phone {
  display: block;
}

.page-footer__phone svg {
  margin-right: 3px;
}

.page-footer__right p {
  margin-top: 12px;
  letter-spacing: 0.11em;
  max-width: 125px;
}
