.page-header {
  min-width: 1020px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 300px;
  background-image:
    url("../img/image_header.png"),
    linear-gradient($header-bg, $header-bg),
    linear-gradient($footer-bg, $footer-bg),
    linear-gradient($footer-bg, $footer-bg),
    linear-gradient($footer-bg, $footer-bg),
    linear-gradient($footer-bg, $footer-bg),
    linear-gradient($footer-bg, $footer-bg),
    linear-gradient($footer-bg, $footer-bg);
  background-size:
    825px 298px,
    100% 110px,
    100% 4px,
    100% 4px,
    100% 4px,
    100% 4px,
    100% 4px,
    100% 4px;
  background-position:
    top 72px right 0,
    0 0,
    0 134px,
    0 148px,
    0 162px,
    0 176px,
    0 190px,
    0 204px;
  background-repeat: no-repeat;
}

.page-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  min-width: 940px;
  flex-basis: 95%;
}

.page-header__logo {
  color: $black;

  &:hover,
  &:focus {
    color: $dark-gray;
  }

  &:active {
    color: $text-click;
  }
}

.page-header__nav {
  margin-right: -7px;
  margin-top: -3px;
  max-width: 610px;
}

.page-header__nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  list-style: none;
}

.page-header__nav li {
  margin-right: 40px;
  margin-top: 10px;
}

// .page-header__nav li:last-child {
//   margin-right: 0;
// }

.page-header__nav a {
  font-family: "Droid Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    color: $dark-gray;
  }

  &:active {
    color: $text-click;
  }
}

.page-header__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 150px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.page-header__links a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 24px;
  margin-right: 15px;
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    color: $dark-gray;
  }

  &:active {
    color: $text-click;
  }
}

.page-header__links a:last-child {
  margin-right: 0;
}

.page-header__links sup {
  color: $cart-item;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
}
