@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/droidsansmono.woff2") format("woff2"),
    url("../fonts/droidsansmono.woff") format("woff");
}

