$light-gray: #dddada;
$gray: #9f9e9e;
$dark-gray: #474747;

$label-disabled: #dddddd;
$text-click: rgba(71, 71, 71, 0.5);

$button: #c1c1c1;
$button-hover: #585757;

$button-buy: #e27f00;
$button-buy-hover: #ffa839;
$button-buy-click: #da8b26;

$star: #ffd168;

$header-bg: rgba(30, 9, 6, 0.15);
$footer-bg: #3f3f3f;

$black: #000000;
$white: #ffffff;

$cart-item: #f20505;
